In [1]:
import io
import os
import zipfile
import traceback
import sqlite3
import pandas as pd

In [2]:
if not os.path.isdir('./BDpopulado'):
    os.mkdir('./BDpopulado')
conn = sqlite3.connect('./BDpopulado/database.db')
cursor = conn.cursor()

# Definição de tabelas

In [3]:
def tab_tipo_envolvido():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS TIPOENVOLVIDO("+
                       "ttecodigo INTEGER, "+
                       "ttedescricao VARCHAR(30), "+
                       "tteatualiza CHAR, "+
                       "tteativo CHAR, "+
                       "CONSTRAINT TTEPK PRIMARY KEY (ttecodigo)"+
                        ");")
        print("tab_tipo_envolvido OK")
    except:
        print("tab_tipo_envolvido FAIL")
        
def tab_tipo_unidade_operacional():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS TIPOUNIDADEOPERACIONAL("+
                       "ttucodigo SERIAL, "+
                       "ttudescricao VARCHAR(20), "+
                       "ttuatualiza CHAR(1), "+
                       "CONSTRAINT TTUPK PRIMARY KEY (ttucodigo)"+
                        ");")
        print("tab_tipo_unidade_operacional OK")
    except:
        print("tab_tipo_unidade_operacional FAIL")
        
def tab_tipo_acidente():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS TIPOACIDENTE("+
                       "ttacodigo INTEGER, "+
                       "ttadescricao VARCHAR(40), "+
                       "ttaatualiza CHAR, "+
                       "ttaativo CHAR, "+
                       "CONSTRAINT TTAPK PRIMARY KEY (ttacodigo)"+
                        ");")
        print("tab_tipo_acidente OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_tipo_acidente FAIL")
        
def tab_tipo_veiculo():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS TIPOVEICULO("+
                       "tvvcodigo INTEGER, "+
                       "tvvdescricao CHAR, "+
                       "tvvatualiza VARCHAR(25), "+
                       "tvvrelacidente CHAR, "+
                       "tvvativo CHAR, "+
                       "CONSTRAINT TVVPK PRIMARY KEY (tvvcodigo)"+
                        ");")
        print("tab_tipo_veiculo OK")
    except:
        print("tab_tipo_veiculo FAIL")
        
def tab_uf():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS UF("+
                       "tufuf CHAR(2), "+
                       "tufdenominacao VARCHAR(60), "+
                       "CONSTRAINT TUFPK PRIMARY KEY (tufuf)"+
                        ");")
        print("tab_uf OK")
    except:
        print("tab_uf FAIL")
        
def tab_corveiculo():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS CORVEICULO("+
                       "tcecodigo INTEGER, "+
                       "tcedescricao VARCHAR(15), "+
                       "CONSTRAINT TCORPK PRIMARY KEY (tcecodigo)"+
                        ");")
        print("tab_corveiculo OK")
    except:
        print("tab_corveiculo FAIL")
        
def tab_paises():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS PAISES("+
                       "tpacodigo INTEGER, "+
                       "tpadescricao VARCHAR(30), "+
                       "CONSTRAINT TPAISPK PRIMARY KEY (tpacodigo)"+
                        ");")
        print("tab_paises OK")
    except:
        print("tab_paises FAIL")

def tab_municipio():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS MUNICIPIO("+
                       "tmucodigo CHAR(5), "+
                       "tmudenominacao VARCHAR(25), "+
                       "tmuuf CHAR(2), "+
                       "CONSTRAINT TMUPK PRIMARY KEY (tmucodigo));")
        print("tab_municipio OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_municipio FAIL")
        
def tab_unidade_operacional():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS UNIDADEOPERACIONAL("+
                       "uniid INTEGER, "+
                       "uniunidade CHAR, "+
                       "unilotacao CHAR, "+
                       "unisigla CHAR, "+
                       "unittucodigo INTEGER, "+
                       "uniunidaderesponsavel INTEGER, "+
                       "unidenominacao VARCHAR(80), "+
                       "unimunicipio CHAR, "+
                       "unilocal INTEGER, "+
                       "unilatitude CHAR, "+
                       "unilongitude CHAR, "+
                       "unihelicoptero CHAR, "+
                       "CONSTRAINT UNIPK PRIMARY KEY (uniid),"+
                       "CONSTRAINT fk_tipounidadeoperacional_unidadeoperacional_unittucodigo FOREIGN KEY "+
                       "(unittucodigo) REFERENCES TIPOUNIDADEOPERACIONAL(ttucodigo),"+
                       "CONSTRAINT fk_municipio_unidadeoperacional FOREIGN KEY "+
                       "(unimunicipio) REFERENCES MUNICIPIO(tmucodigo)"+
                        ");")
        print("tab_unidade_operacional OK")
    except:
        print("tab_unidade_operacional FAIL")
        
def tab_marca_veiculo():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS MARCAVEICULO("+
                       "tmvcodigo INTEGER, "+
                       "tmvdescricao VARCHAR(60) NOT NULL, "+
                       "tmvatualiza CHAR, "+
                       "CONSTRAINT TMVPK PRIMARY KEY (tmvcodigo)"+
                        ");")
        print("tab_marca_veiculo OK")
    except:
        print("tab_marca_veiculo FAIL")
        
def tab_local_br():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS LOCALBR("+
                       "lbrid SERIAL, "+
                       "lbruf CHAR(2), "+
                       "lbrbr CHAR(3), "+
                       "lbrkm CHAR(5), "+
                       "lbrlatitude CHAR(20), "+
                       "lbrlongitude CHAR(20), "+
                       "lbrpnvid INT, "+
                       "lbratualiza CHAR(1), "+
                       "CONSTRAINT LBRPK PRIMARY KEY (lbrid)"+
                        ");")
        print("tab_local_br OK")
    except:
        print("tab_local_br FAIL")
        
def tab_veiculo():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS VEICULO("+
                       "veiid INTEGER, "+
                       "veiano CHAR, "+
                       "veitmvcodigo INTEGER, "+
                       "veiqtdocupantes INTEGER, "+
                       "veimunicipio CHAR, "+
                       "veimunorigem CHAR, "+
                       "veipaisorigem INTEGER, "+
                       "veimundestino CHAR, "+
                       "veitcecodigo INTEGER, "+
                       "veipaisdestino INTEGER, "+
                       "veiproprietario CHAR(1), "+
                       "CONSTRAINT VEIPK PRIMARY KEY (veiid)"+
                        ");")
        print("tab_veiculo OK")
    except:
        print("tab_veiculo FAIL")
        
def tab_pessoa():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS PESSOA("+
                       "pesid INTEGER, "+
                       "pesdatanascimento DATE, "+
                       "pesnaturalidade CHAR, "+
                       "pesnacionalidade INTEGER, "+
                       "pessexo CHAR, "+
                       "pesteccodigo INTEGER, "+
                       "pestgicodigo INTEGER, "+
                       "pesmunicipio CHAR, "+
                       "pestopcodigo INTEGER, "+
                       "pesmunicipioori CHAR, "+
                       "pespaisori INTEGER, "+
                       "pesmunicipiodest CHAR, "+
                       "pespaisdest INTEGER, "+
                       "pesveiid INTEGER, "+
                       "pescinto CHAR, "+
                       "pescapacete CHAR, "+
                       "peshabilitado CHAR, "+
                       "pessocorrido CHAR, "+
                       "pesdormindo CHAR, "+
                       "pesalcool CHAR, "+
                       "peskmpercorre DECIMAL, "+
                       "peshorapercorre CHAR, "+
                       "pescategcnh CHAR, "+
                       "pesufcnh CHAR, "+
                       "pespaiscnh INTEGER, "+
                       "pesdatahabil DATE, "+
                       "pesdatavalidade DATE, "+
                       "pesidade INTEGER, "+
                       "pesaltura DECIMAL, "+
                       "pespeso INTEGER, "+
                       "pescicatriz CHAR, "+
                       "pestatuagem CHAR, "+
                       "pessinal CHAR, "+
                       "peslesao CHAR, "+
                       "pestcccodigo INTEGER, "+
                       "pestctcodigo INTEGER, "+
                       "pestclcodigo INTEGER, "+
                       "pesoenid INTEGER, "+
                       "CONSTRAINT PESPK PRIMARY KEY (pesid)"+
                        ");")
        print("tab_pessoa OK")
    except:
        print("tab_pessoa FAIL")
        
def tab_ocorrencia_pessoa():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIAPESSOA("+
                       "opeid INTEGER PRIMARY KEY, "+
                       "opeocoid INT, "+
                       "opepesid INT, "+
                       "opeportevalidade DATE, "+
                       "opettecodigo INTEGER, "+
                       "opeanexo CHAR(1), "+
                       "opecondalegadas CHAR(1), "+
                       "CONSTRAINT fk_tipoenvolvido_ocorrenciapessoa FOREIGN KEY "+
                       "(opettecodigo) REFERENCES TIPOENVOLVIDO(ttecodigo),"+
                       "CONSTRAINT fk_pessoa_ocorrenciapessoa FOREIGN KEY "+
                       "(opepesid) REFERENCES PESSOA(pesid),"+
                       "CONSTRAINT fk_ocorrencia_ocorrenciapessoa FOREIGN KEY "+
                       "(opeocoid) REFERENCES OCORRENCIA(ocoid)"+
                        ");")
        print("tab_ocorrencia_pessoa OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_ocorrencia_pessoa FAIL")
        
def tab_ocorrencia_acidente():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIAACIDENTE("+
                       "oacocoid INTEGER PRIMARY KEY, "+
                       "oacttacodigo INTEGER, "+
                       "oactcacodigo INTEGER, "+
                       "oacdano CHAR, "+
                       "oacdanoterc CHAR, "+
                       "oacdanoamb CHAR, "+
                       "oaclatitude CHAR, "+
                       "oaclongitude CHAR, "+
                       "oacdistab DECIMAL, "+
                       "oacdistac DECIMAL, "+
                       "oacdistbc DECIMAL, "+
                       "oacmodelopista CHAR, "+
                       "oacsentido1 VARCHAR(40), "+
                       "oacsentido2 VARCHAR(40), "+
                       "oacqtdfaixa1 INTEGER, "+
                       "oacqtdfaixa2 INTEGER, "+
                       "oacacostamento1 CHAR, "+
                       "oacacostamento2 CHAR, "+
                       "oaccanteiro CHAR(1), "+
                       "oaclinhacentral INT, "+
                       "oacorientpista CHAR(1), "+
                       "oacgirafundo CHAR(1), "+
                       "oacversaocroqui CHAR(1) DEFAULT '1' , "+
                       "oacsitio INT, "+
                       "CONSTRAINT fk_tipoacidente_ocorrenciaacidente FOREIGN KEY "+
                       "(oacttacodigo) REFERENCES TIPOACIDENTE(ttacodigo),"+
                       "CONSTRAINT fk_ocorrencia_ocorrenciaacidente FOREIGN KEY "+
                       "(oacocoid) REFERENCES OCORRENCIA(ocoid)"+
                        ");")
        print("tab_ocorrencia_acidente OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_ocorrencia_acidente FAIL")
        
def tab_ocorrencia_veiculo():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIAVEICULO("+
                       "ocvid INTEGER, "+
                       "ocvocoid INTEGER, "+
                       "ocvveiid INTEGER, "+
                       "CONSTRAINT OCVPK PRIMARY KEY (ocvid)"+
                        ");")
        print("tab_ocorrencia_veiculo OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_ocorrencia_veiculo FAIL")
        
def tab_ocorrencia():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIA("+
                       "ocoid INTEGER PRIMARY KEY, "+
                       "ocolocal INTEGER, "+
                       "ocostatus CHAR, "+
                       "ocomunicipio CHAR, "+
                       "ocosentido CHAR, "+
                       "ocodataocorrencia INTEGER,"+
                       "ocodataregistro INTEGER,"+
                       "ocotipo CHAR,"+
                       "ococomid INTEGER, "+
                       "ocodatafim INTEGER"+
                        ");")
        print("tab_ocorrencia OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_ocorrencia FAIL")

def cria_bd(): 
    tab_tipo_envolvido()
    tab_tipo_unidade_operacional()
    tab_tipo_acidente()
    tab_tipo_veiculo()
    tab_corveiculo()
    tab_paises()
    tab_uf()
    tab_municipio()
    tab_unidade_operacional()
    tab_marca_veiculo()
    tab_local_br()
    tab_veiculo()
    tab_pessoa()
    tab_ocorrencia_pessoa()
    tab_ocorrencia_acidente()
    tab_ocorrencia_veiculo()
    tab_ocorrencia()

In [4]:
cria_bd()

tab_tipo_envolvido OK
tab_tipo_unidade_operacional OK
tab_tipo_acidente OK
tab_tipo_veiculo OK
tab_corveiculo OK
tab_paises OK
tab_uf OK
tab_municipio OK
tab_unidade_operacional OK
tab_marca_veiculo OK
tab_local_br OK
tab_veiculo OK
tab_pessoa OK
tab_ocorrencia_pessoa OK
tab_ocorrencia_acidente OK
tab_ocorrencia_veiculo OK
tab_ocorrencia OK

## Processamento dos dados

In [5]:
def criar_diretorios():
    with zipfile.ZipFile("./BDS/ocorrenciaveiculo.zip", 'r') as zip_ref:
        zip_ref.extractall("./BDS/")
        zip_ref.close()
    with zipfile.ZipFile("./BDS/tabelaPessoa.zip", 'r') as zip_ref:
        zip_ref.extractall("./BDS/")
        zip_ref.close()
    with zipfile.ZipFile("./BDS/veiculo.zip", 'r') as zip_ref:
        zip_ref.extractall("./BDS/")
        zip_ref.close()
    for ano in range(2007,2014):
        for semestre in range(1,3):
            if ano==2013 and semestre==2:
                pass
            else:
                os.mkdir("./BDS/{}_{}".format(ano, semestre))
                try:
                    with zipfile.ZipFile("./BDS/brbrasil_{}_semestre_{}.zip".format(semestre, ano), 'r') as zip_ref:
                        try:
                            zip_ref.extractall("./BDS/{}_{}".format(ano, semestre))
                            os.rename("./BDS/{year}_{semester}/brbrasil_{semester}_semestre_{year}/ocorrenciaPessoa_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),
                                     "./BDS/{year}_{semester}/ocorrenciaPessoa_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano))
                            os.rename("./BDS/{year}_{semester}/brbrasil_{semester}_semestre_{year}/ocorrenciaacidente_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),
                                     "./BDS/{year}_{semester}/ocorrenciaacidente_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano))
                            os.rename("./BDS/{year}_{semester}/brbrasil_{semester}_semestre_{year}/ocorrencia_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),
                                     "./BDS/{year}_{semester}/ocorrencia_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano))
                            os.rmdir("./BDS/{year}_{semester}/brbrasil_{semester}_semestre_{year}".format(semester=semestre, year=ano))
                            zip_ref.close()
                            ##os.remove("./BDS/brbrasil_{}_semestre_{}.zip".format(semestre, ano))
                        except:
                            zip_ref.extract("ocorrenciaPessoa_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),path="./BDS/{}_{}".format(ano, semestre))
                            zip_ref.extract("ocorrenciaacidente_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),path="./BDS/{}_{}".format(ano, semestre))
                            zip_ref.extract("ocorrencia_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),path="./BDS/{}_{}".format(ano, semestre))
                            zip_ref.close()
                            ##os.remove("./BDS/brbrasil_{}_semestre_{}.zip".format(semestre, ano))
                except:
                    pass

In [ ]:
criar_diretorios()

# População de tabelas:

In [6]:
def popula_tipo_envolvido():
    try:
        cursor.execute("DELETE FROM TIPOENVOLVIDO")
        conn.commit()
        tipo_envolvido = pd.read_csv("./BDS/Dominios/tipoenvolvido.csv",index_col=False,header=0,sep=";",low_memory=True,
                                     encoding="ISO-8859-1")
        tipo_envolvido.to_sql(name="TIPOENVOLVIDO", con=conn, if_exists="append",index=False)
        print("popula_tipo_envolvido OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_tipo_envolvido FAIL")

def popula_tipo_unidade_operacional():
    try:
        cursor.execute("DELETE FROM TIPOUNIDADEOPERACIONAL")
        conn.commit()
        tipo_unidade_operacional = pd.read_csv("./BDS/Dominios/tipounidadeoperacional.csv",index_col=False,header=0,sep=";",
                                               low_memory=False,encoding=" ISO-8859-1")
        tipo_unidade_operacional.to_sql(name="TIPOUNIDADEOPERACIONAL", con=conn, if_exists="append",index=False)
        print("popula_tipo_unidade_operacional OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_tipo_unidade_operacional FAIL")

def popula_tipo_acidente():
    try:
        cursor.execute("DELETE FROM TIPOACIDENTE")
        conn.commit()
        tipo_acidente = pd.read_csv("./BDS/Dominios/tipoAcidente.csv",index_col=False,header=0,sep=";",low_memory=False,
                                    usecols=["ttacodigo", "ttadescricao", "ttaatualiza", "ttaativo"],
                                    encoding=" ISO-8859-1")
        tipo_acidente.to_sql(name="TIPOACIDENTE", con=conn, if_exists="append",index=False)
        print("popula_tipo_acidente OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_tipo_acidente FAIL")
        
def popula_tipo_veiculo():
    try:
        cursor.execute("DELETE FROM TIPOVEICULO")
        conn.commit()
        tipo_veiculo = pd.read_csv("./BDS/Dominios/tipoveiculo.csv",index_col=False,header=0,sep=";",low_memory=False,
                                   encoding=" ISO-8859-1")
        tipo_veiculo.to_sql(name="TIPOVEICULO", con=conn, if_exists="append",index=False)
        print("popula_tipo_veiculo OK")
    except:
        print("popula_tipo_veiculo FAIL")
    
def popula_uf():
    try:
        cursor.execute("DELETE FROM UF")
        conn.commit()
        uf = pd.read_csv("./BDS/Dominios/uf.csv",index_col=False,header=0,sep=";",low_memory=False,encoding="ISO-8859-1")
        uf.to_sql(name="UF", con=conn, if_exists="append",index=False)
        print("popula_uf OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_uf FAIL")
        
def popula_corveiculo():
    try:
        cursor.execute("DELETE FROM CORVEICULO")
        conn.commit()
        uf = pd.read_csv("./BDS/Dominios/corveiculo.csv",index_col=False,header=0,sep=";",
                         usecols=["tcecodigo", "tcedescricao"], low_memory=False,encoding="ISO-8859-1")
        uf.to_sql(name="CORVEICULO", con=conn, if_exists="append",index=False)
        print("popula_corveiculo OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_corveiculo FAIL")
        
def popula_paises():
    try:
        cursor.execute("DELETE FROM PAISES")
        conn.commit()
        uf = pd.read_csv("./BDS/Dominios/paises.csv",index_col=False,header=0,sep=";",low_memory=False,encoding="ISO-8859-1")
        uf.to_sql(name="PAISES", con=conn, if_exists="append",index=False)
        print("popula_paises OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_paises FAIL")
        
def popula_municipio():
    try:
        cursor.execute("DELETE FROM MUNICIPIO")
        conn.commit()
        municipio = pd.read_csv("./BDS/Dominios/municipio.csv",index_col=False,header=0,sep=";",low_memory=False,
                                encoding=" ISO-8859-1")
        municipio.to_sql(name="MUNICIPIO", con=conn, if_exists="append",index=False)
        print("popula_municipio OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_municipio FAIL")
        
def popula_unidade_operacional():
    try:
        cursor.execute("DELETE FROM UNIDADEOPERACIONAL")
        conn.commit()
        unidade_operacional = pd.read_csv("./BDS/Dominios/unidadeoperacional.csv",index_col=False,header=0,sep=";",
                                          usecols=["uniid","uniunidade","unilotacao","unisigla","unittucodigo", 
                                                   "uniunidaderesponsavel","unidenominacao","unimunicipio","unilocal",
                                                   "unilatitude","unilongitude","unihelicoptero"],
                                          low_memory=True,encoding="ISO-8859-1")
        unidade_operacional.to_sql(name="UNIDADEOPERACIONAL", con=conn, if_exists="append",index=False)
        print("popula_unidade_operacional OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_unidade_operacional FAIL")
        
def popula_marca_veiculo():
    try:
        cursor.execute("DELETE FROM MARCAVEICULO")
        conn.commit()
        marca_veiculo = pd.read_csv("./BDS/Dominios/marcadeveiculo.csv",index_col=False,header=0,sep=";",low_memory=False,
                                    encoding="ISO-8859-1")
        marca_veiculo.to_sql(name="MARCAVEICULO", con=conn, if_exists="append",index=False)
        print("popula_marca_veiculo OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_marca_veiculo FAIL")
        
def popula_local_br():
    try:
        cursor.execute("DELETE FROM LOCALBR")
        conn.commit()
        local_br = pd.read_csv("./BDS/Dominios/localbr.csv",index_col=False,header=0,sep=";",low_memory=False)
        local_br.to_sql(name="LOCALBR", con=conn, if_exists="append",index=False)
        print("popula_local_br OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_local_br FAIL")

def popula_tab_pessoa():
    try:
        cursor.execute("DELETE FROM PESSOA")
        conn.commit()
        pessoas = pd.read_csv("./BDS/tabelaPessoa.csv",index_col=False,header=0,sep=";",low_memory=True)
        colunas = pessoas.columns
        certos=0
        ruins=0
        count=0
        for index,row in pessoas.iterrows():
            try:
                cursor.execute("INSERT INTO PESSOA VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?"+
                               ",?,?,?,?,?,?,?,?,?,?,?,?)",(row[colunas[0]],row[colunas[1]],row[colunas[2]],row[colunas[3]],
                                                           row[colunas[4]],row[colunas[5]],row[colunas[6]],row[colunas[7]], 
                                                            row[colunas[8]],row[colunas[9]],row[colunas[10]],row[colunas[11]],
                                                            row[colunas[12]],row[colunas[13]],row[colunas[14]],row[colunas[15]],
                                                           row[colunas[16]],row[colunas[17]],row[colunas[18]],row[colunas[19]],
                                                           row[colunas[20]],row[colunas[21]],row[colunas[22]],row[colunas[23]],
                                                           row[colunas[24]],row[colunas[25]],row[colunas[26]],row[colunas[27]],
                                                           row[colunas[28]],row[colunas[29]],row[colunas[30]],row[colunas[31]],
                                                           row[colunas[32]],row[colunas[33]],row[colunas[34]],row[colunas[35]],
                                                           row[colunas[36]],row[colunas[37]]))
                certos=certos+1
                count=count+1
                if count == 40000:
                    conn.commit()
                    count=0
            except:
                ruins=ruins+1
                continue
        conn.commit()
        print("certos:\n",certos)
        print("ruins:\n",ruins)
        print("popula_tab_pessoa OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_tab_pessoa FAIL")

def popula_tab_veiculo():
    try:
        cursor.execute("DELETE FROM VEICULO")
        veiculos = pd.read_csv("./BDS/veiculo.csv",index_col=False,header=0,sep=";",
                       usecols=["veiid", "veitmvcodigo", "veitcecodigo", "veiano","veiqtdocupantes","veimunicipio","veimunorigem",
                                "veipaisorigem","veimundestino","veipaisdestino","veiproprietario"])
        conn.commit()
        veiculos.to_sql(name="VEICULO", con=conn, if_exists="append",index=False)
        print("popula_tab_veiculo OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_tab_veiculo FAIL")
        
def popula_ocorrencia_pessoa():
    try:
        cursor.execute("DELETE FROM OCORRENCIAPESSOA")
        conn.commit()
        for ano in range(2007,2014):
            for semestre in range(1,3):
                if ano==2013 and semestre==2:
                    pass
                else:
                    ocorrencia_pessoa = pd.read_csv("./BDS/"+str(ano)+"_"+str(semestre)+"/ocorrenciaPessoa_"+str(semestre)+
                                                    "_Semestre_"+str(ano)+".csv",index_col=False,header=0,sep=";",
                                                    usecols=["opeocoid","opepesid","opeportevalidade","opettecodigo",
                                                             "opeanexo","opecondalegadas"],
                                                    low_memory=False,encoding="ISO-8859-1")
                    ocorrencia_pessoa.to_sql(name="OCORRENCIAPESSOA", con=conn, if_exists="append",index=False)            
        print("popula_ocorrencia_pessoa OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_ocorrencia_pessoa FAIL")
        
def popula_ocorrencia_acidente():
    try:
        cursor.execute("DELETE FROM OCORRENCIAACIDENTE")
        conn.commit()
        for ano in range(2007,2014):
            for semestre in range(1,3):
                if ano==2013 and semestre==2:
                    pass
                else:
                    ocorrencia_acidente = pd.read_csv("./BDS/"+str(ano)+"_"+str(semestre)+"/ocorrenciaacidente_"+str(semestre)+
                                                      "_Semestre_"+str(ano)+".csv",index_col=False,header=0,sep=";",
                                                      usecols=["oacttacodigo","oactcacodigo","oacdano","oacdanoterc",
                                                               "oacdanoamb","oaclatitude","oaclongitude","oacdistab","oacdistac",
                                                               "oacdistbc","oacmodelopista","oacsentido1","oacsentido2",
                                                               "oacqtdfaixa1","oacqtdfaixa2","oacacostamento1","oacacostamento2",
                                                               "oaccanteiro","oaclinhacentral","oacorientpista","oacgirafundo",
                                                               "oacversaocroqui","oacsitio"],
                                                      low_memory=False,encoding="ISO-8859-1")
                    ocorrencia_acidente.to_sql(name="OCORRENCIAACIDENTE", con=conn, if_exists="append",index=False)
        print("popula_ocorrencia_acidente OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_ocorrencia_acidente FAIL")

def popula_ocorrencia_veiculo():
    try:
        cursor.execute("DELETE FROM OCORRENCIAVEICULO")
        conn.commit()
        ocorrencia_veiculo = pd.read_csv("./BDS/ocorrenciaveiculo.csv",index_col=False,header=0,sep="|",low_memory=False)
        ocorrencia_veiculo.to_sql(name="OCORRENCIAVEICULO", con=conn, if_exists="append",index=False)
        print("popula_ocorrencia_veiculo OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_ocorrencia_veiculo FAIL")

def popula_ocorrencia():
    try:
        cursor.execute("DELETE FROM OCORRENCIA")
        conn.commit()
        for ano in range(2007,2014):
            for semestre in range(1,3):
                if ano==2013 and semestre==2:
                    pass
                else:
                    ocorrencia = pd.read_csv("./BDS/"+str(ano)+"_"+str(semestre)+"/ocorrencia_"+str(semestre)+"_Semestre_"+
                                             str(ano)+".csv",index_col=False,header=0,sep=";",
                                             low_memory=False,encoding="ISO-8859-1",
                                             usecols=["ocolocal","ocostatus","ocomunicipio","ocosentido","ocodataocorrencia",
                                                      "ocodataregistro","ocotipo","ococomid","ocodatafim"])
                    ocorrencia.to_sql(name="OCORRENCIA", con=conn, if_exists="append",index=False)
        print("popula_ocorrencia OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_ocorrencia FAIL")

def popula_database():
    popula_tipo_envolvido()
    popula_tipo_unidade_operacional()
    popula_tipo_acidente()
    popula_tipo_veiculo()
    popula_corveiculo()
    popula_paises()
    popula_uf()
    popula_municipio()
    popula_unidade_operacional()
    popula_marca_veiculo()
    popula_local_br()
    popula_tab_veiculo()
    popula_tab_pessoa()
    popula_ocorrencia_pessoa()
    popula_ocorrencia_acidente()
    popula_ocorrencia_veiculo()
    popula_ocorrencia()

In [7]:
popula_database()

popula_tipo_envolvido OK
popula_tipo_unidade_operacional OK
popula_tipo_acidente OK
popula_tipo_veiculo OK
popula_corveiculo OK
popula_paises OK
popula_uf OK
popula_municipio OK
popula_unidade_operacional OK
popula_marca_veiculo OK
popula_local_br OK
popula_tab_veiculo OK
certos:
 71354
ruins:
 5331
popula_tab_pessoa OK
popula_ocorrencia_pessoa OK
popula_ocorrencia_acidente OK
popula_ocorrencia_veiculo OK
popula_ocorrencia OK

In [24]:
df = pd.read_sql_query("SELECT tmudenominacao, tcedescricao, COUNT(*) AS numcarros FROM VEICULO, CORVEICULO, MUNICIPIO WHERE veimunicipio = tmucodigo AND veitcecodigo = tcecodigo GROUP BY tmudenominacao, tcedescricao ORDER BY tmudenominacao, numcarros DESC", conn)
df

            tmudenominacao tcedescricao  numcarros
0          ABADIA DE GOIAS        PRATA          8
1          ABADIA DE GOIAS       BRANCA          4
2          ABADIA DE GOIAS         AZUL          3
3          ABADIA DE GOIAS      AMARELA          2
4          ABADIA DE GOIAS        CINZA          2
5          ABADIA DE GOIAS       MARROM          1
6          ABADIA DE GOIAS        PRETA          1
7          ABADIA DE GOIAS        VERDE          1
8          ABADIA DE GOIAS     VERMELHA          1
9      ABADIA DOS DOURADOS       BRANCA          1
10     ABADIA DOS DOURADOS        CINZA          1
11     ABADIA DOS DOURADOS        VERDE          1
12               ABADIANIA       BRANCA          6
13               ABADIANIA         AZUL          3
14               ABADIANIA     VERMELHA          2
15               ABADIANIA         BEGE          1
16               ABADIANIA        PRATA          1
17               ABADIANIA        VERDE          1
18                  ABAETE       BRANCA          8
19                  ABAETE        PRATA          6
20                  ABAETE         AZUL          3
21                  ABAETE     VERMELHA          3
22                  ABAETE      LARANJA          2
23                  ABAETE        VERDE          2
24                  ABAETE         BEGE          1
25                  ABAETE        PRETA          1
26                 ABAIARA       BRANCA          1
27                   ABARE        VERDE          1
28                   ABARE     VERMELHA          1
29                  ABATIA        PRETA          1
...                    ...          ...        ...
14662              XANXERE     VERMELHA         23
14663              XANXERE         AZUL         12
14664              XANXERE        PRATA         12
14665              XANXERE        PRETA         10
14666              XANXERE        CINZA          6
14667              XANXERE        VERDE          3
14668              XANXERE         BEGE          2
14669              XANXERE      DOURADA          1
14670              XANXERE       MARROM          1
14671              XANXERE         ROXA          1
14672            XAVANTINA       BRANCA          1
14673            XAVANTINA        PRATA          1
14674            XAVANTINA     VERMELHA          1
14675                XAXIM       BRANCA         58
14676                XAXIM     VERMELHA         16
14677                XAXIM         AZUL          8
14678                XAXIM        CINZA          4
14679                XAXIM        PRATA          4
14680                XAXIM        PRETA          3
14681                XAXIM         BEGE          2
14682                XAXIM        VERDE          2
14683                XAXIM      AMARELA          1
14684                XAXIM      LARANJA          1
14685                XAXIM       MARROM          1
14686                XEXEU        CINZA          3
14687                XEXEU         AZUL          1
14688                XEXEU        PRATA          1
14689                XEXEU     VERMELHA          1
14690          XIQUE-XIQUE        VERDE          2
14691          XIQUE-XIQUE     VERMELHA          1

[14692 rows x 3 columns]

In [8]:
df = pd.read_sql_query("SELECT * FROM VEICULO", conn)
df

,veiid,veiano,veitmvcodigo,veiqtdocupantes,veimunicipio,veimunorigem,veipaisorigem,veimundestino,veitcecodigo,veipaisdestino,veiproprietario
0,1,1974,0.0,2.0,56634,56634,22.0,57134,4.0,22.0,3517504.0
1,2,,0.0,1.0,,,22.0,,0.0,22.0,101738.0
2,3,2009,9025.0,1.0,35157,35157,22.0,35157,5.0,22.0,2705824.0
3,4,2011,19224.0,1.0,,31054,22.0,31097,11.0,22.0,None
4,5,1989,719.0,4.0,92215,92215,22.0,93734,5.0,22.0,6.0
5,6,1980,908.0,1.0,93750,00515,22.0,93890,4.0,22.0,None
6,7,2001,72.0,1.0,93734,93890,22.0,93890,10.0,22.0,None
7,8,1999,1660.0,1.0,89591,93734,22.0,,4.0,22.0,10.0
8,9,1999,1705.0,3.0,93734,92215,22.0,93734,5.0,22.0,11.0
9,10,1994,2670.0,0.0,88358,10022,22.0,89532,5.0,22.0,3566567.0
10,11,2004,0.0,3.0,77518,81051,22.0,77518,10.0,22.0,None
11,12,2000,2651.0,3.0,71072,93734,0.0,92215,5.0,0.0,3.0
12,13,2001,0.0,1.0,,93734,22.0,97012,5.0,22.0,16.0
13,14,2002,285.0,1.0,92274,92274,0.0,93734,11.0,0.0,17.0
14,15,1995,4744.0,3.0,44636,44636,0.0,93734,4.0,0.0,19.0
15,16,1995,1793.0,2.0,46876,93734,0.0,46876,3.0,0.0,20.0
16,17,1999,1667.0,3.0,93734,97012,0.0,93734,4.0,0.0,4.0
17,18,2000,2754.0,3.0,97012,97012,22.0,93734,10.0,22.0,None
18,19,1992,746.0,2.0,92215,92215,22.0,93734,3.0,22.0,22.0
19,20,2002,3549.0,2.0,92215,92215,22.0,93734,10.0,22.0,23.0
20,21,1971,3796.0,3.0,93734,00574,22.0,93734,2.0,22.0,24.0
21,22,2011,23953.0,2.0,71072,,22.0,,10.0,22.0,3904180.0
22,23,2010,0.0,1.0,93734,,22.0,,15.0,22.0,2402620.0
23,24,,43.0,1.0,,92274,22.0,92274,11.0,22.0,28.0
24,25,2003,3049.0,1.0,92274,93610,22.0,92274,4.0,22.0,6.0
25,26,1998,2750.0,2.0,93734,93734,22.0,93734,2.0,22.0,7.0
26,27,1976,3796.0,1.0,95710,95710,22.0,93955,2.0,22.0,32.0
27,28,1980,858.0,1.0,93734,,22.0,93734,14.0,22.0,35.0
28,29,2000,0.0,3.0,94595,94595,0.0,92894,4.0,0.0,8.0
29,30,1993,0.0,2.0,93734,93734,0.0,95630,6.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
263189,317464,1997,2713.0,1.0,77518,,22.0,,4.0,22.0,426997.0
263190,317465,2005,0.0,1.0,,85693,22.0,87912,4.0,22.0,58167.0
263191,317466,2002,3555.0,4.0,59250,59250,22.0,59250,10.0,22.0,427034.0
263192,317467,2001,8996.0,1.0,57037,56995,22.0,57053,14.0,22.0,427012.0
263193,317468,2004,9514.0,2.0,56294,56294,22.0,56634,10.0,22.0,426995.0
263194,317469,2006,7445.0,1.0,80390,80390,22.0,80390,15.0,22.0,427038.0
263195,317470,1998,4032.0,1.0,57037,56995,22.0,57037,4.0,22.0,58171.0
263196,317471,2001,11743.0,15.0,59250,58076,22.0,59250,4.0,22.0,58174.0
263197,317472,1994,4104.0,2.0,56294,56294,22.0,56634,4.0,22.0,58168.0
263198,317473,,0.0,1.0,80390,80390,22.0,80390,0.0,22.0,427049.0
263199,317474,2005,9032.0,2.0,97012,,22.0,,5.0,22.0,427002.0
263200,317475,1990,2121.0,1.0,63770,71072,22.0,70998,5.0,22.0,427052.0
263201,317476,1996,2647.0,1.0,29211,60011,22.0,29114,4.0,22.0,427046.0
263202,317477,1998,1670.0,1.0,58050,60011,22.0,58050,2.0,22.0,427047.0
263203,317478,,0.0,0.0,,,22.0,,0.0,22.0,None
263204,317479,2003,0.0,1.0,71072,71072,22.0,71838,4.0,22.0,58176.0
263205,317480,2003,11162.0,1.0,03018,03018,22.0,03018,4.0,22.0,58173.0
263206,317481,2006,1629.0,1.0,80276,80276,22.0,08907,15.0,22.0,427085.0
263207,317482,2006,9415.0,6.0,97330,41114,22.0,47333,10.0,22.0,58178.0
263208,317483,1994,3516.0,1.0,03018,03018,22.0,03018,4.0,22.0,427030.0
263209,317484,1982,3799.0,1.0,81655,81655,22.0,79634,0.0,22.0,427100.0
263210,317485,2001,8564.0,3.0,93734,93734,22.0,90514,4.0,22.0,427060.0
263211,317486,2001,4318.0,1.0,87530,81612,22.0,88170,4.0,22.0,58182.0
263212,317487,1981,3681.0,1.0,38059,38890,22.0,38490,2.0,22.0,427029.0
263213,317488,1998,2765.0,5.0,71072,71072,22.0,39659,10.0,22.0,58177.0
263214,317489,,8507.0,5.0,97012,97012,22.0,71072,11.0,22.0,427062.0
263215,317490,2001,3771.0,1.0,64017,86533,22.0,64017,15.0,22.0,58180.0
263216,317491,2002,9668.0,1.0,70998,70998,22.0,68616,4.0,22.0,427118.0
263217,317492,2006,9504.0,1.0,75353,38490,22.0,35971,0.0,22.0,58179.0
263218,317493,20,NaN,NaN,None,None,NaN,None,NaN,NaN,None