In [5]:
import io
import os
import zipfile
import traceback
import sqlite3
import pandas as pd

In [6]:
if not os.path.isdir('C:/Users/Daniel/Desktop/BDpopulado'):
    os.mkdir('C:/Users/Daniel/Desktop/BDpopulado')
conn = sqlite3.connect('C:/Users/Daniel/Desktop/BDpopulado/database.db')
cursor = conn.cursor()

# Definição de tabelas

In [7]:
def tab_tipo_envolvido():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS TIPOENVOLVIDO("+
                       "ttecodigo INTEGER, "+
                       "ttedescricao VARCHAR(30), "+
                       "tteatualiza CHAR, "+
                       "tteativo CHAR, "+
                       "CONSTRAINT TTEPK PRIMARY KEY (ttecodigo)"+
                        ");")
        print("tab_tipo_envolvido OK")
    except:
        print("tab_tipo_envolvido FAIL")
        
def tab_tipo_unidade_operacional():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS TIPOUNIDADEOPERACIONAL("+
                       "ttucodigo SERIAL, "+
                       "ttudescricao VARCHAR(20), "+
                       "ttuatualiza CHAR(1), "+
                       "CONSTRAINT TTUPK PRIMARY KEY (ttucodigo)"+
                        ");")
        print("tab_tipo_unidade_operacional OK")
    except:
        print("tab_tipo_unidade_operacional FAIL")
        
def tab_tipo_acidente():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS TIPOACIDENTE("+
                       "ttacodigo INTEGER, "+
                       "ttadescricao VARCHAR(40), "+
                       "ttaatualiza CHAR, "+
                       "ttaativo CHAR, "+
                       "CONSTRAINT TTAPK PRIMARY KEY (ttacodigo)"+
                        ");")
        print("tab_tipo_acidente OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_tipo_acidente FAIL")
        
def tab_tipo_veiculo():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS TIPOVEICULO("+
                       "tvvcodigo INTEGER, "+
                       "tvvdescricao CHAR, "+
                       "tvvatualiza VARCHAR(25), "+
                       "tvvrelacidente CHAR, "+
                       "tvvativo CHAR, "+
                       "CONSTRAINT TVVPK PRIMARY KEY (tvvcodigo)"+
                        ");")
        print("tab_tipo_veiculo OK")
    except:
        print("tab_tipo_veiculo FAIL")
        
def tab_uf():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS UF("+
                       "tufuf CHAR(2), "+
                       "tufdenominacao VARCHAR(60), "+
                       "CONSTRAINT TUFPK PRIMARY KEY (tufuf)"+
                        ");")
        print("tab_uf OK")
    except:
        print("tab_uf FAIL")
        
def tab_municipio():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS MUNICIPIO("+
                       "tmucodigo CHAR(5), "+
                       "tmudenominacao VARCHAR(25), "+
                       "tmuuf CHAR(2), "+
                       "CONSTRAINT TMUPK PRIMARY KEY (tmucodigo));")
        print("tab_municipio OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_municipio FAIL")
        
def tab_unidade_operacional():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS UNIDADEOPERACIONAL("+
                       "uniid INTEGER, "+
                       "uniunidade CHAR, "+
                       "unilotacao CHAR, "+
                       "unisigla CHAR, "+
                       "unittucodigo INTEGER, "+
                       "uniunidaderesponsavel INTEGER, "+
                       "unidenominacao VARCHAR(80), "+
                       "unimunicipio CHAR, "+
                       "unilocal INTEGER, "+
                       "unilatitude CHAR, "+
                       "unilongitude CHAR, "+
                       "unihelicoptero CHAR, "+
                       "CONSTRAINT UNIPK PRIMARY KEY (uniid),"+
                       "CONSTRAINT fk_tipounidadeoperacional_unidadeoperacional_unittucodigo FOREIGN KEY "+
                       "(unittucodigo) REFERENCES TIPOUNIDADEOPERACIONAL(ttucodigo),"+
                       "CONSTRAINT fk_municipio_unidadeoperacional FOREIGN KEY "+
                       "(unimunicipio) REFERENCES MUNICIPIO(tmucodigo)"+
                        ");")
        print("tab_unidade_operacional OK")
    except:
        print("tab_unidade_operacional FAIL")
        
def tab_marca_veiculo():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS MARCAVEICULO("+
                       "tmvcodigo INTEGER, "+
                       "tmvdescricao VARCHAR(60) NOT NULL, "+
                       "tmvatualiza CHAR, "+
                       "CONSTRAINT TMVPK PRIMARY KEY (tmvcodigo)"+
                        ");")
        print("tab_marca_veiculo OK")
    except:
        print("tab_marca_veiculo FAIL")
        
def tab_local_br():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS LOCALBR("+
                       "lbrid SERIAL, "+
                       "lbruf CHAR(2), "+
                       "lbrbr CHAR(3), "+
                       "lbrkm CHAR(5), "+
                       "lbrlatitude CHAR(20), "+
                       "lbrlongitude CHAR(20), "+
                       "lbrpnvid INT, "+
                       "lbratualiza CHAR(1), "+
                       "CONSTRAINT LBRPK PRIMARY KEY (lbrid)"+
                        ");")
        print("tab_local_br OK")
    except:
        print("tab_local_br FAIL")
        
def tab_veiculo():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS VEICULO("+
                       "veiid INTEGER, "+
                       "veiano CHAR, "+
                       "veiqtdocupantes INTEGER, "+
                       "veimunicipio CHAR, "+
                       "veimunorigem CHAR, "+
                       "veipaisorigem INTEGER, "+
                       "veimundestino CHAR, "+
                       "veipaisdestino INTEGER, "+
                       "veiproprietario CHAR(1), "+
                       "CONSTRAINT VEIPK PRIMARY KEY (veiid)"+
                        ");")
        print("tab_veiculo OK")
    except:
        print("tab_veiculo FAIL")
        
def tab_pessoa():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS PESSOA("+
                       "pesid INTEGER, "+
                       "pesdatanascimento DATE, "+
                       "pesnaturalidade CHAR, "+
                       "pesnacionalidade INTEGER, "+
                       "pessexo CHAR, "+
                       "pesteccodigo INTEGER, "+
                       "pestgicodigo INTEGER, "+
                       "pesmunicipio CHAR, "+
                       "pestopcodigo INTEGER, "+
                       "pesmunicipioori CHAR, "+
                       "pespaisori INTEGER, "+
                       "pesmunicipiodest CHAR, "+
                       "pespaisdest INTEGER, "+
                       "pesveiid INTEGER, "+
                       "pescinto CHAR, "+
                       "pescapacete CHAR, "+
                       "peshabilitado CHAR, "+
                       "pessocorrido CHAR, "+
                       "pesdormindo CHAR, "+
                       "pesalcool CHAR, "+
                       "peskmpercorre DECIMAL, "+
                       "peshorapercorre CHAR, "+
                       "pescategcnh CHAR, "+
                       "pesufcnh CHAR, "+
                       "pespaiscnh INTEGER, "+
                       "pesdatahabil DATE, "+
                       "pesdatavalidade DATE, "+
                       "pesidade INTEGER, "+
                       "pesaltura DECIMAL, "+
                       "pespeso INTEGER, "+
                       "pescicatriz CHAR, "+
                       "pestatuagem CHAR, "+
                       "pessinal CHAR, "+
                       "peslesao CHAR, "+
                       "pestcccodigo INTEGER, "+
                       "pestctcodigo INTEGER, "+
                       "pestclcodigo INTEGER, "+
                       "pesoenid INTEGER, "+
                       "CONSTRAINT PESPK PRIMARY KEY (pesid)"+
                        ");")
        print("tab_pessoa OK")
    except:
        print("tab_pessoa FAIL")
        
def tab_ocorrencia_pessoa():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIAPESSOA("+
                       "opeid INTEGER PRIMARY KEY, "+
                       "opeocoid INT, "+
                       "opepesid INT, "+
                       "opeportevalidade DATE, "+
                       "opettecodigo INTEGER, "+
                       "opeanexo CHAR(1), "+
                       "opecondalegadas CHAR(1), "+
                       "CONSTRAINT fk_tipoenvolvido_ocorrenciapessoa FOREIGN KEY "+
                       "(opettecodigo) REFERENCES TIPOENVOLVIDO(ttecodigo),"+
                       "CONSTRAINT fk_pessoa_ocorrenciapessoa FOREIGN KEY "+
                       "(opepesid) REFERENCES PESSOA(pesid),"+
                       "CONSTRAINT fk_ocorrencia_ocorrenciapessoa FOREIGN KEY "+
                       "(opeocoid) REFERENCES OCORRENCIA(ocoid)"+
                        ");")
        print("tab_ocorrencia_pessoa OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_ocorrencia_pessoa FAIL")
        
def tab_ocorrencia_acidente():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIAACIDENTE("+
                       "oacocoid INTEGER PRIMARY KEY, "+
                       "oacttacodigo INTEGER, "+
                       "oactcacodigo INTEGER, "+
                       "oacdano CHAR, "+
                       "oacdanoterc CHAR, "+
                       "oacdanoamb CHAR, "+
                       "oaclatitude CHAR, "+
                       "oaclongitude CHAR, "+
                       "oacdistab DECIMAL, "+
                       "oacdistac DECIMAL, "+
                       "oacdistbc DECIMAL, "+
                       "oacmodelopista CHAR, "+
                       "oacsentido1 VARCHAR(40), "+
                       "oacsentido2 VARCHAR(40), "+
                       "oacqtdfaixa1 INTEGER, "+
                       "oacqtdfaixa2 INTEGER, "+
                       "oacacostamento1 CHAR, "+
                       "oacacostamento2 CHAR, "+
                       "oaccanteiro CHAR(1), "+
                       "oaclinhacentral INT, "+
                       "oacorientpista CHAR(1), "+
                       "oacgirafundo CHAR(1), "+
                       "oacversaocroqui CHAR(1) DEFAULT '1' , "+
                       "oacsitio INT, "+
                       "CONSTRAINT fk_tipoacidente_ocorrenciaacidente FOREIGN KEY "+
                       "(oacttacodigo) REFERENCES TIPOACIDENTE(ttacodigo),"+
                       "CONSTRAINT fk_ocorrencia_ocorrenciaacidente FOREIGN KEY "+
                       "(oacocoid) REFERENCES OCORRENCIA(ocoid)"+
                        ");")
        print("tab_ocorrencia_acidente OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_ocorrencia_acidente FAIL")
        
def tab_ocorrencia_veiculo():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIAVEICULO("+
                       "ocvid INTEGER, "+
                       "ocvocoid INTEGER, "+
                       "ocvveiid INTEGER, "+
                       "CONSTRAINT OCVPK PRIMARY KEY (ocvid)"+
                        ");")
        print("tab_ocorrencia_veiculo OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_ocorrencia_veiculo FAIL")
        
def tab_ocorrencia():
    try:
        cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIA("+
                       "ocoid INTEGER PRIMARY KEY, "+
                       "ocolocal INTEGER, "+
                       "ocostatus CHAR, "+
                       "ocomunicipio CHAR, "+
                       "ocosentido CHAR, "+
                       "ocodataocorrencia INTEGER,"+
                       "ocodataregistro INTEGER,"+
                       "ocotipo CHAR,"+
                       "ococomid INTEGER, "+
                       "ocodatafim INTEGER"+
                        ");")
        print("tab_ocorrencia OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("tab_ocorrencia FAIL")

def cria_bd(): 
    tab_tipo_envolvido()
    tab_tipo_unidade_operacional()
    tab_tipo_acidente()
    tab_tipo_veiculo()
    tab_uf()
    tab_municipio()
    tab_unidade_operacional()
    tab_marca_veiculo()
    tab_local_br()
    tab_veiculo()
    tab_pessoa()
    tab_ocorrencia_pessoa()
    tab_ocorrencia_acidente()
    tab_ocorrencia_veiculo()
    tab_ocorrencia()

In [8]:
cria_bd()

tab_tipo_envolvido OK
tab_tipo_unidade_operacional OK
tab_tipo_acidente OK
tab_tipo_veiculo OK
tab_uf OK
tab_municipio OK
tab_unidade_operacional OK
tab_marca_veiculo OK
tab_local_br OK
tab_veiculo OK
tab_pessoa OK
tab_ocorrencia_pessoa OK
tab_ocorrencia_acidente OK
tab_ocorrencia_veiculo OK
tab_ocorrencia OK

## Processamento dos dados

In [9]:
def criar_diretorios():
    with zipfile.ZipFile("./BDS/ocorrenciaveiculo.zip", 'r') as zip_ref:
        zip_ref.extractall("./BDS/")
        zip_ref.close()
    with zipfile.ZipFile("./BDS/tabelaPessoa.zip", 'r') as zip_ref:
        zip_ref.extractall("./BDS/")
        zip_ref.close()
    with zipfile.ZipFile("./BDS/veiculo.zip", 'r') as zip_ref:
        zip_ref.extractall("./BDS/")
        zip_ref.close()
    for ano in range(2007,2014):
        for semestre in range(1,3):
            if ano==2013 and semestre==2:
                pass
            else:
                os.mkdir("./BDS/{}_{}".format(ano, semestre))
                try:
                    with zipfile.ZipFile("./BDS/brbrasil_{}_semestre_{}.zip".format(semestre, ano), 'r') as zip_ref:
                        try:
                            zip_ref.extractall("./BDS/{}_{}".format(ano, semestre))
                            os.rename("./BDS/{year}_{semester}/brbrasil_{semester}_semestre_{year}/ocorrenciaPessoa_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),
                                     "./BDS/{year}_{semester}/ocorrenciaPessoa_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano))
                            os.rename("./BDS/{year}_{semester}/brbrasil_{semester}_semestre_{year}/ocorrenciaacidente_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),
                                     "./BDS/{year}_{semester}/ocorrenciaacidente_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano))
                            os.rename("./BDS/{year}_{semester}/brbrasil_{semester}_semestre_{year}/ocorrencia_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),
                                     "./BDS/{year}_{semester}/ocorrencia_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano))
                            os.rmdir("./BDS/{year}_{semester}/brbrasil_{semester}_semestre_{year}".format(semester=semestre, year=ano))
                            zip_ref.close()
                            ##os.remove("./BDS/brbrasil_{}_semestre_{}.zip".format(semestre, ano))
                        except:
                            zip_ref.extract("ocorrenciaPessoa_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),path="./BDS/{}_{}".format(ano, semestre))
                            zip_ref.extract("ocorrenciaacidente_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),path="./BDS/{}_{}".format(ano, semestre))
                            zip_ref.extract("ocorrencia_{semester}_Semestre_{year}.csv".format(semester=semestre, year=ano),path="./BDS/{}_{}".format(ano, semestre))
                            zip_ref.close()
                            ##os.remove("./BDS/brbrasil_{}_semestre_{}.zip".format(semestre, ano))
                except:
                    pass

In [10]:
criar_diretorios()

# População de tabelas:

In [11]:
def popula_tipo_envolvido():
    try:
        cursor.execute("DELETE FROM TIPOENVOLVIDO")
        conn.commit()
        tipo_envolvido = pd.read_csv("./BDS/Dominios/tipoenvolvido.csv",index_col=False,header=0,sep=";",low_memory=True,
                                     encoding="ISO-8859-1")
        tipo_envolvido.to_sql(name="TIPOENVOLVIDO", con=conn, if_exists="append",index=False)
        print("popula_tipo_envolvido OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_tipo_envolvido FAIL")

def popula_tipo_unidade_operacional():
    try:
        cursor.execute("DELETE FROM TIPOUNIDADEOPERACIONAL")
        conn.commit()
        tipo_unidade_operacional = pd.read_csv("./BDS/Dominios/tipounidadeoperacional.csv",index_col=False,header=0,sep=";",
                                               low_memory=False,encoding=" ISO-8859-1")
        tipo_unidade_operacional.to_sql(name="TIPOUNIDADEOPERACIONAL", con=conn, if_exists="append",index=False)
        print("popula_tipo_unidade_operacional OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_tipo_unidade_operacional FAIL")        

def popula_tipo_acidente():
    try:
        cursor.execute("DELETE FROM TIPOACIDENTE")
        conn.commit()
        tipo_acidente = pd.read_csv("./BDS/Dominios/tipoAcidente.csv",index_col=False,header=0,sep=";",low_memory=False,
                                    usecols=["ttacodigo", "ttadescricao", "ttaatualiza", "ttaativo"],
                                    encoding=" ISO-8859-1")
        tipo_acidente.to_sql(name="TIPOACIDENTE", con=conn, if_exists="append",index=False)
        print("popula_tipo_acidente OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_tipo_acidente FAIL")
        
def popula_tipo_veiculo():
    try:
        cursor.execute("DELETE FROM TIPOVEICULO")
        conn.commit()
        tipo_veiculo = pd.read_csv("./BDS/Dominios/tipoveiculo.csv",index_col=False,header=0,sep=";",low_memory=False,
                                   encoding=" ISO-8859-1")
        tipo_veiculo.to_sql(name="TIPOVEICULO", con=conn, if_exists="append",index=False)
        print("popula_tipo_veiculo OK")
    except:
        print("popula_tipo_veiculo FAIL")
    
def popula_uf():
    try:
        cursor.execute("DELETE FROM UF")
        conn.commit()
        uf = pd.read_csv("./BDS/Dominios/uf.csv",index_col=False,header=0,sep=";",low_memory=False,encoding="ISO-8859-1")
        uf.to_sql(name="UF", con=conn, if_exists="append",index=False)
        print("popula_uf OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_uf FAIL")
        
def popula_municipio():
    try:
        cursor.execute("DELETE FROM MUNICIPIO")
        conn.commit()
        municipio = pd.read_csv("./BDS/Dominios/municipio.csv",index_col=False,header=0,sep=";",low_memory=False,
                                encoding=" ISO-8859-1")
        municipio.to_sql(name="MUNICIPIO", con=conn, if_exists="append",index=False)
        print("popula_municipio OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_municipio FAIL")
        
def popula_unidade_operacional():
    try:
        cursor.execute("DELETE FROM UNIDADEOPERACIONAL")
        conn.commit()
        unidade_operacional = pd.read_csv("./BDS/Dominios/unidadeoperacional.csv",index_col=False,header=0,sep=";",
                                          usecols=["uniid","uniunidade","unilotacao","unisigla","unittucodigo", 
                                                   "uniunidaderesponsavel","unidenominacao","unimunicipio","unilocal",
                                                   "unilatitude","unilongitude","unihelicoptero"],
                                          low_memory=True,encoding="ISO-8859-1")
        unidade_operacional.to_sql(name="UNIDADEOPERACIONAL", con=conn, if_exists="append",index=False)
        print("popula_unidade_operacional OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_unidade_operacional FAIL")
        
def popula_marca_veiculo():
    try:
        cursor.execute("DELETE FROM MARCAVEICULO")
        conn.commit()
        marca_veiculo = pd.read_csv("./BDS/Dominios/marcadeveiculo.csv",index_col=False,header=0,sep=";",low_memory=False,
                                    encoding="ISO-8859-1")
        marca_veiculo.to_sql(name="MARCAVEICULO", con=conn, if_exists="append",index=False)
        print("popula_marca_veiculo OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_marca_veiculo FAIL")
        
def popula_local_br():
    try:
        cursor.execute("DELETE FROM LOCALBR")
        conn.commit()
        local_br = pd.read_csv("./BDS/Dominios/localbr.csv",index_col=False,header=0,sep=";",low_memory=False)
        local_br.to_sql(name="LOCALBR", con=conn, if_exists="append",index=False)
        print("popula_local_br OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_local_br FAIL")

def popula_tab_pessoa():
    try:
        cursor.execute("DELETE FROM PESSOA")
        conn.commit()
        pessoas = pd.read_csv("./BDS/tabelaPessoa.csv",index_col=False,header=0,sep=";",low_memory=True)
        colunas = pessoas.columns
        certos=0
        ruins=0
        count=0
        for index,row in pessoas.iterrows():
            try:
                cursor.execute("INSERT INTO PESSOA VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?"+
                               ",?,?,?,?,?,?,?,?,?,?,?,?)",(row[colunas[0]],row[colunas[1]],row[colunas[2]],row[colunas[3]],
                                                           row[colunas[4]],row[colunas[5]],row[colunas[6]],row[colunas[7]], 
                                                            row[colunas[8]],row[colunas[9]],row[colunas[10]],row[colunas[11]],
                                                            row[colunas[12]],row[colunas[13]],row[colunas[14]],row[colunas[15]],
                                                           row[colunas[16]],row[colunas[17]],row[colunas[18]],row[colunas[19]],
                                                           row[colunas[20]],row[colunas[21]],row[colunas[22]],row[colunas[23]],
                                                           row[colunas[24]],row[colunas[25]],row[colunas[26]],row[colunas[27]],
                                                           row[colunas[28]],row[colunas[29]],row[colunas[30]],row[colunas[31]],
                                                           row[colunas[32]],row[colunas[33]],row[colunas[34]],row[colunas[35]],
                                                           row[colunas[36]],row[colunas[37]]))
                certos=certos+1
                count=count+1
                if count == 40000:
                    conn.commit()
                    count=0
            except:
                ruins=ruins+1
                continue
        conn.commit()
        print("certos:\n",certos)
        print("ruins:\n",ruins)
        print("popula_tab_pessoa OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_tab_pessoa FAIL")

def popula_tab_veiculo():
    try:
        cursor.execute("DELETE FROM VEICULO")
        veiculos = pd.read_csv("./BDS/veiculo.csv",index_col=False,header=0,sep=";",
                       usecols=["veiid", "veiano","veiqtdocupantes","veimunicipio","veimunorigem",
                                "veipaisorigem","veimundestino","veipaisdestino","veiproprietario"])
        conn.commit()
        veiculos.to_sql(name="VEICULO", con=conn, if_exists="append",index=False)
        print("popula_tab_veiculo OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_tab_veiculo FAIL")
        
def popula_ocorrencia_pessoa():
    try:
        cursor.execute("DELETE FROM OCORRENCIAPESSOA")
        conn.commit()
        for ano in range(2007,2014):
            for semestre in range(1,3):
                if ano==2013 and semestre==2:
                    pass
                else:
                    ocorrencia_pessoa = pd.read_csv("./BDS/"+str(ano)+"_"+str(semestre)+"/ocorrenciaPessoa_"+str(semestre)+
                                                    "_Semestre_"+str(ano)+".csv",index_col=False,header=0,sep=";",
                                                    usecols=["opeocoid","opepesid","opeportevalidade","opettecodigo",
                                                             "opeanexo","opecondalegadas"],
                                                    low_memory=False,encoding="ISO-8859-1")
                    ocorrencia_pessoa.to_sql(name="OCORRENCIAPESSOA", con=conn, if_exists="append",index=False)            
        print("popula_ocorrencia_pessoa OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_ocorrencia_pessoa FAIL")
        
def popula_ocorrencia_acidente():
    try:
        cursor.execute("DELETE FROM OCORRENCIAACIDENTE")
        conn.commit()
        for ano in range(2007,2014):
            for semestre in range(1,3):
                if ano==2013 and semestre==2:
                    pass
                else:
                    ocorrencia_acidente = pd.read_csv("./BDS/"+str(ano)+"_"+str(semestre)+"/ocorrenciaacidente_"+str(semestre)+
                                                      "_Semestre_"+str(ano)+".csv",index_col=False,header=0,sep=";",
                                                      usecols=["oacttacodigo","oactcacodigo","oacdano","oacdanoterc",
                                                               "oacdanoamb","oaclatitude","oaclongitude","oacdistab","oacdistac",
                                                               "oacdistbc","oacmodelopista","oacsentido1","oacsentido2",
                                                               "oacqtdfaixa1","oacqtdfaixa2","oacacostamento1","oacacostamento2",
                                                               "oaccanteiro","oaclinhacentral","oacorientpista","oacgirafundo",
                                                               "oacversaocroqui","oacsitio"],
                                                      low_memory=False,encoding="ISO-8859-1")
                    ocorrencia_acidente.to_sql(name="OCORRENCIAACIDENTE", con=conn, if_exists="append",index=False)
        print("popula_ocorrencia_acidente OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_ocorrencia_acidente FAIL")

def popula_ocorrencia_veiculo():
    try:
        cursor.execute("DELETE FROM OCORRENCIAVEICULO")
        conn.commit()
        ocorrencia_veiculo = pd.read_csv("./BDS/ocorrenciaveiculo.csv",index_col=False,header=0,sep="|",low_memory=False)
        ocorrencia_veiculo.to_sql(name="OCORRENCIAVEICULO", con=conn, if_exists="append",index=False)
        print("popula_ocorrencia_veiculo OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_ocorrencia_veiculo FAIL")

def popula_ocorrencia():
    try:
        cursor.execute("DELETE FROM OCORRENCIA")
        conn.commit()
        for ano in range(2007,2014):
            for semestre in range(1,3):
                if ano==2013 and semestre==2:
                    pass
                else:
                    ocorrencia = pd.read_csv("./BDS/"+str(ano)+"_"+str(semestre)+"/ocorrencia_"+str(semestre)+"_Semestre_"+
                                             str(ano)+".csv",index_col=False,header=0,sep=";",
                                             low_memory=False,encoding="ISO-8859-1",
                                             usecols=["ocolocal","ocostatus","ocomunicipio","ocosentido","ocodataocorrencia",
                                                      "ocodataregistro","ocotipo","ococomid","ocodatafim"])
                    ocorrencia.to_sql(name="OCORRENCIA", con=conn, if_exists="append",index=False)
        print("popula_ocorrencia OK")
    except Exception:
        error_message = traceback.format_exc()
        print(error_message)
        print("popula_ocorrencia FAIL")

def popula_database():
    popula_tipo_envolvido()
    popula_tipo_unidade_operacional()
    popula_tipo_acidente()
    popula_tipo_veiculo()
    popula_uf()
    popula_municipio()
    popula_unidade_operacional()
    popula_marca_veiculo()
    popula_local_br()
    popula_tab_veiculo()
    popula_tab_pessoa()
    popula_ocorrencia_pessoa()
    popula_ocorrencia_acidente()
    popula_ocorrencia_veiculo()
    popula_ocorrencia()

In [12]:
popula_database()

popula_tipo_envolvido OK
popula_tipo_unidade_operacional OK
popula_tipo_acidente OK
popula_tipo_veiculo OK
popula_uf OK
popula_municipio OK
popula_unidade_operacional OK
popula_marca_veiculo OK
popula_local_br OK
popula_tab_veiculo OK

C:\Users\Daniel\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3326: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

certos:
 3497647
ruins:
 25638
popula_tab_pessoa OK
popula_ocorrencia_pessoa OK
popula_ocorrencia_acidente OK
popula_ocorrencia_veiculo OK
popula_ocorrencia OK

In [13]:
df = pd.read_sql_query("SELECT * FROM OCORRENCIA", conn)
df

,ocoid,ocolocal,ocostatus,ocomunicipio,ocosentido,ocodataocorrencia,ocodataregistro,ocotipo,ococomid,ocodatafim
0,1,46057,S,81612,1,2006-12-27 10:40:00,2006-12-31 23:13:00,1,187007,2007-01-01 00:03:00
1,2,126898,S,72095,1,2006-12-30 20:30:00,2006-12-31 23:26:00,1,189137,2007-01-01 00:03:00
2,3,24468,S,31950,1,2006-12-31 19:50:00,2006-12-31 23:45:00,1,189522,2007-01-01 00:03:00
3,4,126893,S,19810,2,2006-12-31 20:10:00,2006-12-31 23:11:00,1,189548,2007-01-01 00:18:00
4,5,126885,S,17612,2,2006-12-31 19:00:00,2006-12-31 22:53:00,1,189507,2007-01-01 00:34:00
5,6,16474,S,62073,1,2006-12-31 10:42:00,2006-12-31 20:33:00,1,189504,2007-01-01 00:41:00
6,7,16474,S,62073,1,2006-12-31 10:40:00,2006-12-31 21:59:00,1,189540,2007-01-01 00:41:00
7,8,48041,S,88552,2,2006-12-31 22:30:00,2006-12-31 23:13:00,1,189564,2007-01-01 00:42:00
8,9,126810,S,96636,1,2006-12-31 13:10:00,2006-12-31 18:54:00,1,189386,2007-01-01 00:44:00
9,10,34800,S,16519,1,2006-12-31 22:00:00,2007-01-01 00:37:00,1,189563,2007-01-01 00:48:00
10,11,32454,S,75876,1,2006-12-31 17:50:00,2006-12-31 21:55:00,1,189519,2007-01-01 01:00:00
11,12,13542,S,54470,1,2006-12-31 07:30:00,2006-12-31 13:45:00,1,189263,2007-01-01 01:03:00
12,13,40328,S,74934,1,2006-12-31 21:45:00,2007-01-01 00:25:00,1,189576,2007-01-01 01:05:00
13,14,126857,S,93017,1,2006-12-31 20:00:00,2006-12-31 21:13:00,1,189502,2007-01-01 01:13:00
14,15,31768,S,62073,1,2006-12-31 04:00:00,2007-01-01 00:46:00,1,189578,2007-01-01 01:18:00
15,16,14265,S,41335,2,2006-12-30 14:00:00,2007-01-01 00:32:00,1,188910,2007-01-01 01:22:00
16,17,120595,S,09210,2,2006-12-31 19:40:00,2006-12-31 23:40:00,1,189495,2007-01-01 01:23:00
17,18,30865,S,50970,1,2006-12-31 21:20:00,2006-12-31 23:39:00,1,189568,2007-01-01 01:29:00
18,19,13258,S,23574,2,2006-12-27 11:22:00,2006-12-28 03:14:00,1,187169,2007-01-01 01:34:00
19,20,15277,S,00540,1,2006-12-31 18:45:00,2007-01-01 01:02:00,1,189561,2007-01-01 01:47:00
20,21,48819,S,80390,1,2006-12-31 19:50:00,2007-01-01 01:08:00,1,189500,2007-01-01 01:48:00
21,22,126760,S,41254,2,2006-12-31 15:30:00,2006-12-31 16:33:00,1,189415,2007-01-01 01:52:00
22,23,15122,S,47236,2,2006-12-30 15:20:00,2006-12-31 21:38:00,1,188949,2007-01-01 01:54:00
23,24,90309,S,81272,2,2006-12-31 21:40:00,2006-12-31 22:12:00,1,189537,2007-01-01 02:02:00
24,25,96451,S,58831,1,2007-01-01 00:03:00,2007-01-01 01:31:00,1,189590,2007-01-01 02:17:00
25,26,125677,S,68713,1,2006-12-31 21:00:00,2007-01-01 01:11:00,1,189535,2007-01-01 02:22:00
26,27,7189,S,92274,1,2006-12-31 21:20:00,2007-01-01 02:27:00,1,189599,2007-01-01 03:09:00
27,28,46701,S,85898,2,2006-12-29 23:20:00,2006-12-31 17:08:00,1,188596,2007-01-01 03:22:00
28,29,30683,S,47872,1,2007-01-01 00:50:00,2007-01-01 02:50:00,1,189582,2007-01-01 03:24:00
29,30,46109,S,82694,2,2006-08-01 11:25:00,2006-12-27 11:38:00,1,187029,2007-01-01 03:25:00
...,...,...,...,...,...,...,...,...,...,...
1080020,1080021,871708,S,86533,2,2013-06-30 16:20:00,2013-06-30 17:21:00,1,1508198,2013-06-30 22:28:35
1080021,1080022,832310,S,64777,1,2013-06-25 18:00:00,2013-06-30 22:18:00,1,1505298,2013-06-30 22:29:51
1080022,1080023,844895,S,38334,1,2013-06-27 03:05:00,2013-06-27 04:18:00,1,1506001,2013-06-30 22:31:23
1080023,1080024,893315,S,76910,1,2013-06-30 17:10:00,2013-06-30 21:22:00,1,1508220,2013-06-30 22:38:15
1080024,1080025,927785,S,84239,1,2013-06-30 17:40:00,2013-06-30 20:19:00,1,1508252,2013-06-30 22:38:23
1080025,1080026,933388,S,86673,1,2013-06-30 07:55:00,2013-06-30 08:40:00,1,1507985,2013-06-30 22:40:49
1080026,1080027,899279,S,90476,2,2013-06-30 16:15:00,2013-06-30 21:56:00,1,1508237,2013-06-30 22:41:16
1080027,1080028,956402,S,49972,1,2013-06-30 20:30:00,2013-06-30 22:13:00,1,1508375,2013-06-30 22:41:16
1080028,1080029,837491,S,61778,1,2013-06-25 10:50:00,2013-06-30 22:38:00,1,1505025,2013-06-30 22:45:30
1080029,1080030,913615,S,26271,1,2013-06-30 17:00:00,2013-06-30 21:18:00,1,1508230,2013-06-30 22:48:13
1080030,1080031,856594,S,49131,2,2013-06-24 15:00:00,2013-06-26 13:33:00,1,1504395,2013-06-30 22:48:33
1080031,1080032,929045,S,43656,2,2013-06-21 21:30:00,2013-06-28 19:36:00,1,1502678,2013-06-30 22:52:35
1080032,1080033,1086299,S,7668,2,2013-06-30 17:40:00,2013-06-30 21:52:00,1,1508261,2013-06-30 22:55:05
1080033,1080034,1086274,S,94331,1,2013-06-30 09:40:00,2013-06-30 21:20:00,1,1508027,2013-06-30 23:04:59
1080034,1080035,831120,S,75876,1,2013-06-30 19:40:00,2013-06-30 22:52:00,1,1508372,2013-06-30 23:12:29
1080035,1080036,833970,S,64777,1,2013-06-30 04:14:00,2013-06-30 23:05:00,1,1507935,2013-06-30 23:12:46
1080036,1080037,915077,S,83410,1,2013-06-30 18:10:00,2013-06-30 20:09:00,1,1508359,2013-06-30 23:13:20
1080037,1080038,829583,S,35,1,2013-06-27 15:30:00,2013-06-30 22:42:00,1,1506366,2013-06-30 23:15:54
1080038,1080039,1022997,S,80071,2,2013-06-21 11:00:00,2013-06-25 14:07:00,1,1504949,2013-06-30 23:20:51
1080039,1080040,869276,S,35556,1,2013-06-30 13:30:00,2013-06-30 22:43:00,1,1508157,2013-06-30 23:23:41
1080040,1080041,943514,S,680,2,2013-06-30 18:10:00,2013-06-30 22:13:00,1,1508342,2013-06-30 23:29:18
1080041,1080042,1086035,S,78875,1,2013-06-26 06:30:00,2013-06-26 09:14:00,1,1505464,2013-06-30 23:30:51
1080042,1080043,840110,S,29076,1,2013-06-30 16:45:00,2013-06-30 23:11:00,1,1508221,2013-06-30 23:33:29
1080043,1080044,1086254,S,77917,2,2013-06-26 04:15:00,2013-06-29 23:59:00,1,1505429,2013-06-30 23:36:21
1080044,1080045,837268,S,86517,2,2013-06-30 18:00:00,2013-06-30 22:31:00,1,1508309,2013-06-30 23:40:03
1080045,1080046,851439,S,17590,1,2013-06-30 18:15:00,2013-06-30 23:22:00,1,1508286,2013-06-30 23:45:05
1080046,1080047,845890,S,1392,2,2013-06-25 11:45:00,2013-06-25 16:01:00,1,1505052,2013-06-30 23:46:26
1080047,1080048,1086063,S,16039,2,2013-06-26 18:45:00,2013-06-27 00:26:00,1,1505852,2013-06-30 23:56:13
1080048,1080049,987957,S,43591,2,2013-06-30 16:20:00,2013-06-30 18:02:00,1,1508191,2013-06-30 23:58:11
1080049,1080050,830547,S,93734,1,2013-06-28 18:30:00,2013-06-30 22:18:00,1,1507030,2013-06-30 23:59:27