In [140]:
import io
import sqlite3
import pandas as pd
import numpy as np
import chardet

In [3]:
conn = sqlite3.connect('./BDpopulado/Ocorrencias.db')
cursor = conn.cursor()

In [39]:
def tab_ocorrencia():
    cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIA("+
                   "ocoid INTEGER, "+
                   "ocolocal INTEGER, "+
                   "ocostatus CHAR, "+
                   "ocomunicipio CHAR, "+
                   "ocosentido CHAR, "+
                   "ocodataregistro INTEGER,"+
                   "ocotipo CHAR,"+
                   "ococomid INTEGER, "+
                   "ocoidorigem INTEGER, "+
                   "ocodatafim INTEGER,"+
                   "CONSTRAINT OCOPK PRIMARY KEY (ocoid)"+
                    ");")

In [69]:
def tab_ocorrencia_acidente():
    cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIAACIDENTE("+
                   "oacocoid INTEGER, "+
                   "oacttacodigo INTEGER, "+
                   "oactcacodigo INTEGER, "+
                   "oacdano CHAR, "+
                   "oacdanoterc CHAR, "+
                   "oacdanoamb CHAR, "+
                   "oaclatitude CHAR, "+
                   "oaclongitude CHAR, "+
                   "oacdistab DECIMAL, "+
                   "oacdistac DECIMAL, "+
                   "oacdistbc DECIMAL, "+
                   "oacmodelopista CHAR, "+
                   "oacsentido1 VARCHAR(40), "+
                   "oacsentido2 VARCHAR(40), "+
                   "oacqtdfaixa1 INTEGER, "+
                   "oacqtdfaixa2 INTEGER, "+
                   "oacacostamento1 CHAR, "+
                   "oacacostamento2 CHAR, "+
                   "oaccanteiro CHAR(1), "+
                   "oaclinhacentral INT, "+
                   "oacorientpista CHAR(1), "+
                   "oacgirafundo CHAR(1), "+
                   "oacversaocroqui CHAR(1) DEFAULT '1' , "+
                   "CONSTRAINT OACPK PRIMARY KEY (oacocoid),"+
                   "CONSTRAINT fk_tipoacidente_ocorrenciaacidente FOREIGN KEY "+
                   "(oacttacodigo) REFERENCES TIPOACIDENTE(ttacodigo),"+
                   "CONSTRAINT fk_ocorrencia_ocorrenciaacidente FOREIGN KEY "+
                   "(oactcacodigo) REFERENCES OCORRENCIA(ocoid)"+
                    ");")

In [70]:
tab_ocorrencia_acidente()

In [64]:
def tab_tipo_acidente():
    cursor.execute("CREATE TABLE IF NOT EXISTS TIPOACIDENTE("+
                   "ttacodigo INTEGER, "+
                   "ttadescricao INTEGER, "+
                   "ttaatualiza CHAR, "+
                   "ttaativo CHAR, "+
                   "CONSTRAINT TTAPK PRIMARY KEY (ttacodigo)"
                    ");")

In [65]:
tab_tipo_acidente()

In [102]:
def tab_tipo_envolvido():
    cursor.execute("CREATE TABLE IF NOT EXISTS TIPOENVOLVIDO("+
                   "ttecodigo INTEGER, "+
                   "ttedescricao VARCHAR(30), "+
                   "tteatualiza CHAR, "+
                   "tteativo CHAR, "+
                   "CONSTRAINT TTEPK PRIMARY KEY (ttecodigo)"
                    ");")

In [21]:
def tab_tipo_veiculo():
    cursor.execute("CREATE TABLE IF NOT EXISTS TIPOVEICULO("+
                   "tvvcodigo INTEGER, "+
                   "tvvdescricao CHAR, "+
                   "tvvatualiza VARCHAR(25), "+
                   "tvvrelacidente CHAR, "+
                   "tvvativo CHAR, "+
                   "CONSTRAINT TVVPK PRIMARY KEY (tvvcodigo)"
                    ");")

In [33]:
def tab_uf():
    cursor.execute("CREATE TABLE IF NOT EXISTS UF("+
                   "tufuf CHAR(2), "+
                   "tufdenominacao VARCHAR(60), "+
                   "CONSTRAINT TUFPK PRIMARY KEY (tufuf)"
                    ");")

In [82]:
def tab_unidade_operacional():
    cursor.execute("CREATE TABLE IF NOT EXISTS UNIDADEOPERACIONAL("+
                   "uniid INTEGER, "+
                   "uniunidade CHAR, "+
                   "unilotacao CHAR, "+
                   "unisigla CHAR, "+
                   "unittucodigo INTEGER, "+
                   "uniunidaderesponsavel INTEGER, "+
                   "unidenominacao VARCHAR(80), "+
                   "unimunicipio CHAR, "+
                   "unilocal INTEGER, "+
                   "unilatitude CHAR, "+
                   "unilongitude CHAR, "+
                   "unihelicoptero CHAR, "+
                   "CONSTRAINT UNIPK PRIMARY KEY (uniid),"+
                   "CONSTRAINT fk_tipounidadeoperacional_unidadeoperacional_unittucodigo FOREIGN KEY "+
                   "(unittucodigo) REFERENCES TIPOUNIDADEOPERACIONAL(ttucodigo),"+
                   "CONSTRAINT fk_municipio_unidadeoperacional FOREIGN KEY "+
                   "(unimunicipio) REFERENCES MUNICIPIO(tmucodigo)"+
                    ");")

In [35]:
def tab_veiculo():
    cursor.execute("CREATE TABLE IF NOT EXISTS VEICULO("+
                   "veiid INTEGER, "+
                   "veiano CHAR, "+
                   "veiqtdocupantes INTEGER, "+
                   "veimunicipio CHAR, "+
                   "veimunorigem CHAR, "+
                   "veipaisorigem INTEGER, "+
                   "veimundestino CHAR, "+
                   "veipaisdestino INTEGER, "+
                   "veiproprietario CHAR(1), "+
                   "CONSTRAINT VEIPK PRIMARY KEY (veiid)"
                    ");")

In [86]:
def tab_tipo_unidade_operacional():
    cursor.execute("CREATE TABLE IF NOT EXISTS TIPOUNIDADEOPERACIONAL("+
                   "ttucodigo SERIAL, "+
                   "ttudescricao VARCHAR(20), "+
                   "ttuatualiza CHAR(1), "+
                   "CONSTRAINT TTUPK PRIMARY KEY (ttucodigo)"
                    ");")

In [37]:
def tab_ocorrencia_pessoa():
    cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIAPESSOA("+
                   "opeid SERIAL, "+
                   "opeocoid INT, "+
                   "opepesid INT, "+
                   "opeportevalidade DATE, "+
                   "opettecodigo INTEGER, "+
                   "opeanexo CHAR(1), "+
                   "opecondalegadas CHAR(1), "+
                   "CONSTRAINT OPEPK PRIMARY KEY (opeid),"+
                   "CONSTRAINT fk_tipoenvolvido_ocorrenciapessoa FOREIGN KEY "+
                   "(opettecodigo) REFERENCES TIPOENVOLVIDO(ttecodigo),"+
                   "CONSTRAINT fk_pessoa_ocorrenciapessoa FOREIGN KEY "+
                   "(opepesid) REFERENCES PESSOA(pesid),"+
                   "CONSTRAINT fk_ocorrencia_ocorrenciapessoa FOREIGN KEY "+
                   "(opeocoid) REFERENCES OCORRENCIA(ocoid)"+
                    ");")

In [38]:
def tab_ocorrencia_veiculo():
    cursor.execute("CREATE TABLE IF NOT EXISTS OCORRENCIAVEICULO("+
                   "ocvid INTEGER, "+
                   "ocvocoid INTEGER, "+
                   "ocvveiid INTEGER, "+
                   "CONSTRAINT OCVPK PRIMARY KEY (ocvid)"
                    ");")

In [39]:
def tab_pessoa():
    cursor.execute("CREATE TABLE IF NOT EXISTS PESSOA("+
                   "pesid INTEGER, "+
                   "pesdatanascimento DATE, "+
                   "pesnaturalidade CHAR, "+
                   "pesnacionalidade INTEGER, "+
                   "pessexo CHAR, "+
                   "pesteccodigo INTEGER, "+
                   "pestgicodigo INTEGER, "+
                   "pesmunicipio CHAR, "+
                   "pestopcodigo INTEGER, "+
                   "pesmunicipioori CHAR, "+
                   "pespaisori INTEGER, "+
                   "pesmunicipiodest CHAR, "+
                   "pespaisdest INTEGER, "+
                   "pesveiid INTEGER, "+
                   "pescinto CHAR, "+
                   "pescapacete CHAR, "+
                   "peshabilitado CHAR, "+
                   "pessocorrido CHAR, "+
                   "pesdormindo CHAR, "+
                   "pesalcool CHAR, "+
                   "peskmpercorre DECIMAL, "+
                   "peshorapercorre CHAR, "+
                   "pescategcnh CHAR, "+
                   "pesufcnh CHAR, "+
                   "pespaiscnh INTEGER, "+
                   "pesdatahabil DATE, "+
                   "pesdatavalidade DATE, "+
                   "pesidade INTEGER, "+
                   "pesaltura DECIMAL, "+
                   "pespeso INTEGER, "+
                   "pescicatriz CHAR, "+
                   "pestatuagem CHAR, "+
                   "pessinal CHAR, "+
                   "peslesao CHAR, "+
                   "pestcccodigo INTEGER, "+
                   "pestctcodigo INTEGER, "+
                   "pestclcodigo INTEGER, "+
                   "pesoenid INTEGER, "+
                   "CONSTRAINT PESPK PRIMARY KEY (pesid)"
                    ");")

In [80]:
def tab_municipio():
    cursor.execute("CREATE TABLE IF NOT EXISTS MUNICIPIO("+
                   "tmucodigo CHAR(5), "+
                   "tmudenominacao VARCHAR(25), "+
                   "tmuuf CHAR(2), "+
                   "CONSTRAINT TMUPK PRIMARY KEY (tmucodigo)"
                    ");")

In [41]:
def tab_local_br():
    cursor.execute("CREATE TABLE IF NOT EXISTS LOCALBR("+
                   "lbrid SERIAL, "+
                   "lbruf CHAR(2), "+
                   "lbrbr CHAR(3), "+
                   "lbrkm CHAR(5), "+
                   "lbrlatitude CHAR(20), "+
                   "lbrlongitude CHAR(20), "+
                   "lbrpnvid INT, "+
                   "lbratualiza CHAR(1), "+
                   "CONSTRAINT LBRPK PRIMARY KEY (lbrid)"
                    ");")

In [42]:
def tab_marca_veiculo():
    cursor.execute("CREATE TABLE IF NOT EXISTS MARCAVEICULO("+
                   "tmvcodigo SERIAL, "+
                   "tmvdescricao VARCHAR(60) NOT NULL, "+
                   "tmvatualiza CHAR, "+
                   "CONSTRAINT TMVPK PRIMARY KEY (tmvcodigo)"
                    ");")

In [43]:
def cria_bd(): 
    tab_ocorrencia()
    tab_ocorrencia_acidente()
    tab_tipo_acidente()
    tab_tipo_envolvido()
    tab_tipo_veiculo()
    tab_uf()
    tab_unidade_operacional()
    tab_veiculo()
    tab_tipo_unidade_operacional()
    tab_ocorrencia_pessoa()
    tab_unidade_operacional()
    tab_ocorrencia_veiculo()
    tab_pessoa()
    tab_municipio()
    tab_local_br()
    tab_marca_veiculo()

In [44]:
cria_bd()

In [40]:
def popula_tab_veiculo():
        cursor.execute("DELETE FROM VEICULO")
        veiculos = pd.read_csv("./BDS/Tab_Pessoas_Veiculos/veiculo.csv",index_col=False,header=0,sep=";",
                       usecols=["veiid", "veiano","veiqtdocupantes","veimunicipio","veimunorigem",
                               "veipaisorigem","veimundestino","veipaisdestino","veiproprietario"])
        conn.commit()
        veiculos.to_sql(name="VEICULO", con=conn, if_exists="append",index=False)

In [ ]:
popula_tab_veiculo()

In [3]:
def popula_tab_pessoa():
        cursor.execute("DELETE FROM PESSOA")
        conn.commit()
        pessoas = pd.read_csv("./BDS/Tab_Pessoas_Veiculos/tabelaPessoa.csv",index_col=False,header=0,sep=";",low_memory=False)
        colunas = pessoas.columns
        certos=0
        ruins=0
        count=0
        for index,row in pessoas.iterrows():
            try:
                cursor.execute("INSERT INTO PESSOA VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?"+
                               ",?,?,?,?,?,?,?,?,?,?,?,?)",(row[colunas[0]],row[colunas[1]],row[colunas[2]],row[colunas[3]],
                                                           row[colunas[4]],row[colunas[5]],row[colunas[6]],row[colunas[7]], 
                                                            row[colunas[8]],row[colunas[9]],row[colunas[10]],row[colunas[11]],
                                                            row[colunas[12]],row[colunas[13]],row[colunas[14]],row[colunas[15]],
                                                           row[colunas[16]],row[colunas[17]],row[colunas[18]],row[colunas[19]],
                                                           row[colunas[20]],row[colunas[21]],row[colunas[22]],row[colunas[23]],
                                                           row[colunas[24]],row[colunas[25]],row[colunas[26]],row[colunas[27]],
                                                           row[colunas[28]],row[colunas[29]],row[colunas[30]],row[colunas[31]],
                                                           row[colunas[32]],row[colunas[33]],row[colunas[34]],row[colunas[35]],
                                                           row[colunas[36]],row[colunas[37]]))
                certos=certos+1
                count=count+1
                if count == 40000:
                    conn.commit()
                    count=0
            except:
                ruins=ruins+1
                continue
        print("certos:\n",certos)
        print("ruins:\n",ruins)

In [4]:
popula_tab_pessoa()

certos:
 1025493
ruins:
 23076

In [24]:
def popula_ocorrencia_veiculo():
    cursor.execute("DELETE FROM OCORRENCIAVEICULO")
    print("deletou tudo")
    conn.commit()
    ocorrencia_veiculo = pd.read_csv("./BDS/Tab_Pessoas_Veiculos/ocorrenciaveiculo.csv",index_col=False,header=0,sep="|",low_memory=False)
    ocorrencia_veiculo.to_sql(name="OCORRENCIAVEICULO", con=conn, if_exists="append",index=False)

In [25]:
popula_ocorrencia_veiculo()

deletou tudo

In [47]:
def popula_local_br():
    cursor.execute("DELETE FROM LOCALBR")
    print("deletou tudo")
    conn.commit()
    local_br = pd.read_csv("./BDS/Domínios/localbr.csv",index_col=False,header=0,sep=";",low_memory=False)
    local_br.to_sql(name="LOCALBR", con=conn, if_exists="append",index=False)

In [48]:
popula_local_br()

deletou tudo

In [40]:
def popula_uf():
    cursor.execute("DELETE FROM UF")
    print("deletou tudo")
    conn.commit()
    uf = pd.read_csv("./BDS/Domínios/uf.csv",index_col=False,header=0,sep=";",low_memory=False,encoding="ISO-8859-1")
    uf.to_sql(name="UF", con=conn, if_exists="append",index=False)

In [38]:
popula_uf()

deletou tudo

In [41]:
def popula_marca_veiculo():
    cursor.execute("DELETE FROM MARCAVEICULO")
    print("deletou tudo")
    conn.commit()
    marca_veiculo = pd.read_csv("./BDS/Domínios/marcadeveiculo.csv",index_col=False,header=0,sep=";",low_memory=False,encoding="ISO-8859-1")
    marca-veiculo.to_sql(name="MARCAVEICULO", con=conn, if_exists="append",index=False)

In [36]:
popula_marca_veiculo()

deletou tudo

In [42]:
def popula_tipo_veiculo():
    cursor.execute("DELETE FROM TIPOVEICULO")
    print("deletou tudo")
    conn.commit()
    tipo_veiculo = pd.read_csv("./BDS/Domínios/tipoveiculo.csv",index_col=False,header=0,sep=";",low_memory=False,encoding=" ISO-8859-1")
    tipo_veiculo.to_sql(name="TIPOVEICULO", con=conn, if_exists="append",index=False)

In [33]:
popula_tipo_veiculo()

deletou tudo

In [51]:
def popula_ocorrencia():
    cursor.execute("DELETE FROM OCORRENCIA")
    print("deletou tudo")
    conn.commit()
    for ano in range(2007,2014):
        print("ano: {}".format(ano))
        for semestre in range(1,3):
            print(" semestre: {}\n".format(semestre))
            if(ano==2013 and semestre!=2):
                ocorrencia = pd.read_csv("./BDS/"+str(ano)+"_"+str(semestre)+"/brbrasil_"+str(semestre)+
                                         "_semestre_"+str(ano)+"/ocorrencia_"+str(semestre)+"_Semestre_"+
                                         str(ano)+".csv",index_col=False,header=0,sep=";",
                                         low_memory=False,encoding="ISO-8859-1")
                ocorrencia.to_sql(name="OCORRENCIA", con=conn, if_exists="append",index=False)

In [52]:
popula_ocorrencia()

deletou tudo
ano: 2007
 semestre: 1

 semestre: 2

ano: 2008
 semestre: 1

 semestre: 2

ano: 2009
 semestre: 1

 semestre: 2

ano: 2010
 semestre: 1

 semestre: 2

ano: 2011
 semestre: 1

 semestre: 2

ano: 2012
 semestre: 1

 semestre: 2

ano: 2013
 semestre: 1

 semestre: 2

In [60]:
def popula_tipo_acidente():
    cursor.execute("DELETE FROM TIPOACIDENTE")
    print("deletou tudo")
    conn.commit()
    tipo_acidente = pd.read_csv("./BDS/Domínios/tipoAcidente.csv",index_col=False,header=0,sep=";",low_memory=False,encoding=" ISO-8859-1")
    tipo_acidente.to_sql(name="TIPOACIDENTE", con=conn, if_exists="append",index=False)

In [66]:
popula_tipo_acidente()

deletou tudo

In [72]:
def popula_ocorrencia_acidente():
    cursor.execute("DELETE FROM OCORRENCIAACIDENTE")
    print("deletou tudo")
    conn.commit()
    for ano in range(2007,2014):
        print("ano: {}".format(ano))
        for semestre in range(1,3):
            print(" semestre: {}\n".format(semestre))
            if(ano==2013 and semestre!=2):
                ocorrencia_acidente = pd.read_csv("./BDS/"+str(ano)+"_"+str(semestre)+"/brbrasil_"+str(semestre)+
                                         "_semestre_"+str(ano)+"/ocorrenciaacidente_"+str(semestre)+"_Semestre_"+
                                                  str(ano)+".csv",index_col=False,header=0,sep=";",
                                         low_memory=False,encoding="ISO-8859-1")
                ocorrencia_acidente.to_sql(name="OCORRENCIAACIDENTE", con=conn, if_exists="append",index=False)

In [73]:
popula_ocorrencia_acidente()

deletou tudo
ano: 2007
 semestre: 1

 semestre: 2

ano: 2008
 semestre: 1

 semestre: 2

ano: 2009
 semestre: 1

 semestre: 2

ano: 2010
 semestre: 1

 semestre: 2

ano: 2011
 semestre: 1

 semestre: 2

ano: 2012
 semestre: 1

 semestre: 2

ano: 2013
 semestre: 1

 semestre: 2

In [84]:
def popula_municipio():
    cursor.execute("DELETE FROM MUNICIPIO")
    print("deletou tudo")
    conn.commit()
    municipio = pd.read_csv("./BDS/Domínios/municipio.csv",index_col=False,header=0,sep=";",low_memory=False,encoding=" ISO-8859-1")
    municipio.to_sql(name="MUNICIPIO", con=conn, if_exists="append",index=False)

In [85]:
popula_municipio()

deletou tudo

In [88]:
def popula_tipo_unidade_operacional():
    cursor.execute("DELETE FROM TIPOUNIDADEOPERACIONAL")
    print("deletou tudo")
    conn.commit()
    tipo_unidade_operacional = pd.read_csv("./BDS/Domínios/tipounidadeoperacional.csv",index_col=False,header=0,sep=";",low_memory=False,encoding=" ISO-8859-1")
    tipo_unidade_operacional.to_sql(name="TIPOUNIDADEOPERACIONAL", con=conn, if_exists="append",index=False)

In [89]:
popula_tipo_unidade_operacional()

deletou tudo

In [96]:
def popula_unidade_operacional():
    cursor.execute("DELETE FROM UNIDADEOPERACIONAL")
    print("deletou tudo")
    conn.commit()
    unidade_operacional = pd.read_csv("./BDS/Domínios/unidadeoperacional.csv",index_col=False,header=0,sep=";",low_memory=False,encoding="ISO-8859-1")
    unidade_operacional.to_sql(name="UNIDADEOPERACIONAL", con=conn, if_exists="append",index=False)

In [97]:
popula_unidade_operacional()

deletou tudo

In [152]:
def popula_tipo_envolvido():
    cursor.execute("DELETE FROM TIPOENVOLVIDO")
    print("deletou tudo")
    conn.commit()
    tipo_envolvido = pd.read_csv("./BDS/Domínios/tipoenvolvido.csv",index_col=False,header=0,sep=";",low_memory=False,encoding="ISO-8859-1")
    tipo_envolvido.to_sql(name="TIPOENVOLVIDO", con=conn, if_exists="append",index=False)

In [153]:
popula_tipo_envolvido()

deletou tudo

In [154]:
def popula_ocorrencia_pessoa():
    cursor.execute("DELETE FROM OCORRENCIAPESSOA")
    print("deletou tudo")
    conn.commit()
    for ano in range(2007,2014):
        print("ano: {}".format(ano))
        for semestre in range(1,3):
            print(" semestre: {}\n".format(semestre))
            if(ano==2013 and semestre!=2):
                ocorrencia_pessoa = pd.read_csv("./BDS/"+str(ano)+"_"+str(semestre)+"/brbrasil_"+str(semestre)+
                                         "_semestre_"+str(ano)+"/ocorrenciaPessoa_"+str(semestre)+"_Semestre_"+str(ano)+".csv"
                                        ,index_col=False,header=0,sep=";",
                                         low_memory=False,encoding="ISO-8859-1")
                ocorrencia_pessoa.to_sql(name="OCORRENCIAPESSOA", con=conn, if_exists="append",index=False)

In [155]:
popula_ocorrencia_pessoa()

deletou tudo
ano: 2007
 semestre: 1

 semestre: 2

ano: 2008
 semestre: 1

 semestre: 2

ano: 2009
 semestre: 1

 semestre: 2

ano: 2010
 semestre: 1

 semestre: 2

ano: 2011
 semestre: 1

 semestre: 2

ano: 2012
 semestre: 1

 semestre: 2

ano: 2013
 semestre: 1

 semestre: 2